pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT TOP (1000) [Id]\n      ,[SourceObjectSettings]\n      ,[CopySourceSettings]\n      ,[SinkObjectSettings]\n      ,[CopySinkSettings]\n      ,[CopyActivitySettings]\n      ,[DataLoadingBehaviorSettings]\n      ,[DataTranslator]\n      ,[TaskId]\n      ,[CopyEnabled]\n  FROM [control_process].[ingest]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"table": "ingest",
							"schema": "control_process",
							"secret": "conn-sqldb"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Tables').output.valueactivity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@json(item().DataLoadingBehaviorSettings).sourceToSink",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "FULL_COPY",
										"activities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "test_var",
													"value": {
														"value": "@json(item().SourceObjectSettings).table",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "DELTA_COPY",
										"activities": [
											{
												"name": "Set variable1_copy1",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "test_var",
													"value": {
														"value": "@json(item().SourceObjectSettings).table",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"test_var": {
				"type": "String"
			}
		},
		"annotations": []
	}
}